html {
    line-height: 1.4rem;
    font-size: 1rem;
    font-family: monospace, sans-serif;
}

body {
    background-color: #000000;
    color: #cccccc;
    margin: 0;
}

h1 {
    font-size: 1.6rem;
    font-style: normal;
    margin: 10px 0;
}

h2, h3, h4 {
    font-size: 1.2rem;
    font-style: normal;
    margin: 60px 0 20px;
}

a {
    color: #ff2e88;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #31d1dd;
    transition: all 0.3s ease;
}

blockquote, code {
    color: #31d1dd;
    margin: 20px;
}

ol, ul {
    margin: 20px;
}

li {
    position: relative;
    margin: 0 0 20px;
}

p {
    margin: 1.8rem 0;
}

div {
    margin: 0 0 0.6rem;
}

img {
    width: 100%;
    height: auto;
}

header {
    margin: 40px 0;
}

footer {
    margin: 80px 0 40px;
    text-align: center;
}

.home {
    font-size: 1.8rem;
    margin-right: 10px;
}

.navigation {
    color: #31d1dd;
}

.navigation:hover {
    color: #ff2e88;
}

.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 50rem;
}

.preview h2 {
    margin: 0;
}
